/*----- Day 5 -----*/
#day5 {
  --day5-c1: navy;
  --day5-c2: white;
  /*   background-color: var(--day5-c1); */
}

#day5 .font1 {
  font: 20vmin "Bebas Neue", sans-serif;
}

/*----- Day 4 -----*/
#day4 {
  --day4-c1: lightsalmon;
  --day4-c2: coral;
  background-color: var(--day4-c1);
}

#day4 .color1 {
  background: var(--day4-c1);
}

#day4 .color2 {
  background: var(--day4-c2);
}

#day4 .layout {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 0 5vw;
}

#day4 .font1 div {
  font: 21vmin "Rubik Mono One", sans-serif;
  height: 18vmin;
  color: var(--day4-c2);
  transition: all 0.2s ease;
}

#day4 .font1 div > span:hover,
#day4 .font1 div > span:active {
  color: transparent;
}

/*----- Day 3 -----*/
#day3 {
  --day3-c1: black;
  --day3-c2: white;
  --day3-c3: deeppink;
  --day3-c4: lime;
  background-color: var(--day3-c1);
}

#day3 .color1 {
  background: var(--day3-c1);
}

#day3 .color2 {
  background: var(--day3-c2);
}

#day3 .color3 {
  background: var(--day3-c3);
}

#day3 .color4 {
  background: var(--day3-c4);
}

#day3 .layout {
  color: var(--day3-c2);
  margin: 7vmin 5vmin 0 5vmin;
}

#day3 .font1 {
  font-size: 6vmin;
  margin-bottom: 6vmin;
  letter-spacing: 0.3vmin;
}

#day3 .font2 {
  font-size: 4vmin;
}

#day3 .font1,
#day3 .font2 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 0.1vmax 0 0 var(--day3-c3), -0.2vmax 0 0 var(--day3-c4);
  }
  to {
    text-shadow: 0.3vmax 0.05vmax 0.2vmax var(--day3-c3),
      -0.1vmax -0.05vmax 0.2vmax var(--day3-c4);
  }
}

/*----- Day 2 -----*/
#day2 {
  --day4-c1: darkturquoise;
  --day4-c2: orange;
  --day4-c3: purple;
  background-color: var(--day4-c1);
}

#day2 .color1 {
  background: var(--day4-c1);
}

#day2 .color2 {
  background: var(--day4-c2);
}

#day2 .color3 {
  background: var(--day4-c3);
}

#day2 .layout {
  position: relative;
  text-align: center;
}

#day2 .font1,
#day2 .font2 {
  position: absolute;
  font-size: 9vmax;
  line-height: 9vmax;
  top: 20vh;
  left: 0;
  bottom: 0;
  right: 0;
}

#day2 .font1 {
  font-family: "Quando", sans-serif;
  color: var(--day4-c2);
  opacity: 1;
}

#day2 .font2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--day4-c3);
  mix-blend-mode: color-burn;
  padding-left: 2.7vmax;
}

#day2 .font2 > div:first-child {
  letter-spacing: 0.31vmax;
}

/*----- Day 1 -----*/
#day1 {
  --day1-c1: blue;
  --day1-c2: lightpink;
  --day1-c3: white;
  background-color: var(--day1-c1);
}

#day1 .color1 {
  background: var(--day1-c1);
}

#day1 .color2 {
  background: var(--day1-c2);
}

#day1 .color3 {
  background: var(--day1-c3);
}

#day1 .layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}

#day1 .font1,
#day1 .font2 {
  text-align: center;
  color: var(--day1-c2);
}

#day1 .font1 {
  font: 900 14.7vmax "Lato", sans-serif;
  text-transform: uppercase;
  text-shadow: 0.7vmax 0.5vmax var(--day1-c3);
}

#day1 .font2 {
  font: 3vmax "Inconsolata", serif;
  line-height: 3.5vmax;
}
