html, body {
  overflow: auto;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* Typography changes */
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}

/*----- Day 190923 -----*/
#day190923 .background {
  background-color: springgreen;
}

#day190923 .content {
  max-width: 650px;
  margin: 0 auto;
  padding: 10em 1.5em;
}

#day190923 .font1 {
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 7.451em;
  line-height: 1em;
}

#day190923 .font2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.563em;
  line-height: 1.5em;
  color: black;
  margin-top: 2em;
  margin-bottom: 0.8em;
}
