/*----- Day 1 -----*/
#day1 {
  background-color: blue;
}

#day1 .layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}

#day1 .font1,
#day1 .font2 {
  text-align: center;
  color: lightpink;
}

#day1 .font1 {
  font: 900 14.7vmax "Lato", sans-serif;
  text-transform: uppercase;
  text-shadow: 0.7vmax 0.5vmax white;
}

#day1 .font2 {
  font: 3vmax "Inconsolata", serif;
  line-height: 3.5vmax;
}

#day1 .color1 {
  background: blue;
}

#day1 .color2 {
  background: lightpink;
}

/*----- Day 2 -----*/
#day2 {
  background-color: darkturquoise;
}

#day2 .layout {
  position: relative;
  text-align: center;
}

#day2 .font1,
#day2 .font2 {
  position: absolute;
  font-size: 9vmax;
  line-height: 9vmax;
  top: 20vh;
  left: 0;
  bottom: 0;
  right: 0;
}

#day2 .font1 {
  font-family: "Quando", sans-serif;
  color: orange;
  opacity: 1;
}

#day2 .font2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: purple;
  mix-blend-mode: color-burn;
  padding-left: 2.7vmax;
}

#day2 .font2 > div:first-child {
  letter-spacing: 0.31vmax;
}

#day2 .color1 {
  background: darkturquoise;
}

#day2 .color2 {
  background: orange;
}

#day2 .color3 {
  background: purple;
}

/* Day 3 */
#day3 {
  background-color: burlywood;
}

/* Day 4 */
#day4 {
  background-color: cornflowerblue;
}
