@import "./normalize.css";
@import "./typefaces.css";

:root {
  --lightColor: white;
  --accentColor: blue;
  --darkColor: black;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

/*--- Navigation bar ---*/
::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  text-align: right;
  height: 100%;
  overflow-y: scroll;
  font: 1rem "Nunito", sans-serif;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}

nav a {
  text-decoration: none;
  color: var(--lightColor);
}

nav a:hover {
  color: var(--accentColor);
}

/* Articles recurring styling */
article {
  width: 100vw;
  height: 100vh;
}

.articleNumber {
  font: 1rem "Nunito", sans-serif;
  color: var(--lightColor);
  position: relative;
  top: 1rem;
  left: 1rem;
  border: 2px solid var(--lightColor);
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

/* Day 1 */
#day1 {
  background-color: blue;
}

/* Day 2 */
#day2 {
  background-color: brown;
}

/* Day 3 */
#day3 {
  background-color: burlywood;
}

/* Day 4 */
#day4 {
  background-color: cornflowerblue;
}
